{% extends 'food_carts/base.html' %}

{% block title %}
    CheckOut
{% endblock %}

{% block content %}
    <h1 id="title">Your order</h1>
     <div class="row">
         <div class="col-md-4 col-md-offset-2">
                </br>
                <div class="order_list">
                   <div class="table-responsive">
                         <table class="table table-bordered table-striped">
                            <br>
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Item's Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in cart %}
                                         <tr>
                                            <li>
                                               <td> <h2>{{ item.quantity }} x {{ item.product.name }}</h2></td>
                                                <td><h2><span>₹ {{ item.total_price }}</span></h2></td>
                                            </li>
                                         </tr>
                                {% endfor %}
                                </tbody>

                            </ol>
                            <tr>
                                <td><h2>TOTAL PRICE</h2></td>
                                <td> </br><h2>Total:₹ {{ cart.get_total_price }}</h2></td>
                             </tr>
                         </table>
                   </div>
                </div>
         </div>

        <div class="col-md-4">
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <fieldset>
                <legend>{{ title }}</legend>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="control-group error">
                            <label class="control-label">{{ field.label }}</label>
                            <div class="controls">{{ field }}
                                <span class="help-inline">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                        <div class="control-group">
                            <label class="control-label">{{ field.label }}</label>
                            <div class="controls">{{ field }}
                                {% if field.help_text %}
                                    <p class="help-inline"><small>{{ field.help_text }}</small></p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-actions">
                </br>
                <button type="submit" class="btn btn-primary" >Place Order</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}